.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: transform 1s ease-in-out, box-shadow 2s ease-out;
    transition-delay: 0s;
    position: relative;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:nth-of-type(odd) {
    -webkit-animation: quica 1s infinite;
    animation: quica 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes quica {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}

@keyframes {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.citacao-bio:nth-of-type(odd) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(even) {
    float: right;
    margin-right: 0;
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.container>p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3c1d3d;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

blockquote::before {
    content: '“';
    font-size: 10em;
    position: absolute;
    opacity: .3;
    line-height: .8;
}

table {
    border-spacing: 5px;
}

.habilidades {
    border-collapse: separate;
    border-spacing: .25em;
    margin: 1em 0;
}

.habilidades th {
    font-weight: bold;
    background-color: #3c1d3d;
    color: white;
    border: 1px solid white;
}

.habilidades thead th {
    background-color: #ec1d3d;
}

.habilidades th,
.habilidades td {
    padding: 1em;
}

td {
    background-color: bisque;
    color: black;
    border: 5px solid white;
}

.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}

.habilidades [rowspan] {
    vertical-align: middle;
}
