body {
    display: block;
    -webkit-perspective: 6px;
    perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
    perspective-origin: 50% 160px;
}
.foto-home {
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px black, 0 0 0 8px #851944, 0 0 0 12px black;
    -webkit-animation: aparece 3s;
    animation: aparece 3s;
}

.banner-twitter {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    /* largura = 14em */
    /* altura = 3.5em */
    /* tx = .707 * h - .707 * w + w */
    /* ty = -.707 * h */
    -webkit-transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
    transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 14em;
    padding: 1em 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;
    font-size: 1.2em;
    font-family: "Open Sans Condensed", sans-serif;
    animation: aparece 3s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}

.saudacao-inicio {
    font-size: 3em;
    color: #889;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    font-size: 2em;
    color: #851944;
}

.saudacao em {
    color: #851944;
    font-size: 4em;
    -webkit-transform: rotate(-5deg) skew(-10deg);
    transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
    animation: flutua 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}

.saudacao:hover em {
    animation-play-state: paused;
}

@keyframes flutua {
    0% {
        transform: rotate(-5deg) skew(-10deg) translateY(-0.1em);
    }
    100% {
        transform: rotate(-5deg) skew(-10deg) translateY(+0.1em);
    }
}

.botao-index {
    font-size: 1.25em;
    -webkit-transition: background-color .5s, box-shadow .5s;
    transition: background-color .5s, box-shadow .5s;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: none;
    border-radius: 5px;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    box-shadow: 0 0 1em #000, inset 0 0 .3em #fff;
}

.botao-index:hover,
.botao-index:focus {
    background-color: #3C1D3D;
    color: white;
    box-shadow: 0 0 1em #FA9;
    position: relative;
    border: none;
    border-radius: 5px;
}

.secao-inicio {
    padding: 2em;
}

.saudacao {
    min-height: 100%;
    background-color: black;
    background-image: linear-gradient(to right, black, #C00, black);
    background-repeat: no-repeat;
    background-size: 80% 10px;
    background-position: 50% 50%;
}

.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
    text-shadow: 5px 5px #000;
}

.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
    background-image: linear-gradient(135deg, transparent, transparent 14px, rgba(0, 0, 0, .1) 14px, rgba(0, 0, 0, .1) 15px, transparent 15px, transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}

.trabalhos h2 {
    color: #FFF;
}

.trabalhos ul {
    display: flex;
    border: .5em solid black;
}

.trabalhos li {
    flex: 1;
    flex-direction: column;
}

.trabalhos img {
    width: 100%;
    display: block;
}

.blog {
    background-color: #999;
    position: relative;
    color: #FFF;
    border-bottom: .5em solid #851944;
}

.blog small {
    position: relative;
    top: -2em;
}

.blog li {
    width: 30%;
}

.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}

footer h2 {
    font-size: 3em;
}

footer a {
    color: #F99;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
}



.palavras-home {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: #D5447E;
    position: absolute;
    -webkit-animation: aparece 2s;
    animation: aparece 5s;
}

@keyframes {
    0% {
        opacity: 0;
        transform: scale(0.001);
    }
}

-webkit-@keyframes {
    0% {
        opacity: 0;
        transform: scale(0.001);
    }
}

.eficiencia {
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}

.boas-praticas {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}

.codigo-limpo {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
}

.css3 {
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
}

.html5 {
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
}

.javascript {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}

.acessibilidade {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
}

.responsivo {
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
}

.otimizacoes {
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}

.agilidade {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
}

.design {
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
}

.titulo-principal {
    background-image: linear-gradient(to bottom, #851944 1%, #000);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.blog .inicio-post {
    position: absolute;
    top: 8em;
    height: 5em;
    left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
    display: none;
}

.blog a:hover+.inicio-post,
.blog a:focus+.inicio-post {
    display: block;
}

.blog a:hover:nth-child(1) {
    background-color: #F2FFFC;
    color: #F26;
}


/*.blog .mais-recente {
    background-color: #F2FFFC;
*/


}
.blog .mais-recente a {
    color: #F26;
}
.caixa-sobreposta {
    width: 40%;
    background-color: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
    padding: 10% 3%;
    text-align: center;
    font-size: 2em;
    visibility: hidden;
}
